body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}


.name-color {
    background-color: orange;
}

.flexibal-container {
    display: flex;
}

.half-width {
    width: 100%;
    padding: 5%;
}

.half-width img {
    width: 80%;

}

.click-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 700;
}

p {
    color: dimgray;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 2%;
}

.second-button {
    text-decoration: none;
    background-image: -webkit-linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5%;
    color: whitesmoke;
    font-weight: 700;
}

.another-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 2%;
    border-left: 20px;
    margin-left: 2em;
    margin-left: 2em;

}

.span-color {
    color: orangered;
}

.expeience-style {
    box-shadow: 5px 7px 40px grey;
    margin-inline: 10px;
    margin-bottom: 10%;
    margin-left: 10px;
    margin-right: 10px;

}

.background-experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#full-stack {
    border-left: 7px solid tomato;
}

#baby-developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}