body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.name-color {
    background-color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 100%;
    padding: 5%;
}

.half-width img {
    width: 80%;

}

.click-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 2%;
}

.second-button {
    text-decoration: none;
    background-image: -webkit-linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5%;
    color: whitesmoke;
    font-weight: 700;
}

.another-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 2%;
    border-left: 20px;
    margin-left: 2em;

}